{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <img src="{{ image.url }}" alt="{{ image }}">
        {% bootstrap_javascript %}

        <button type="button" class="btn btn-primary">
            <a href="{% url 'index' %}">Back to Index</a>
        </button>
    </div>
</body>
</html>